/* You can add global styles to this file, and also import other style files */

a {
  color: #36669a;
}

/*Colors****************************/

.footer, .footer a {
  color: white;
}

body, .bg-default {
  background-color: #e2eff5;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #f8f9fa;
}

.bg-step-default {
  background-color: darkgrey;
}

.bg-step-active {
  background-color: blue;
}

.color-file-word {
  color: royalblue;
}

.color-file-pdf {
  color: red;
}

.color-green{
  color: green;
}

/************************************/

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

.logo-text-size {
  width: 190px;
}

.logo-img-size {
  width: 50px;
}

.customer-img-size {
  width: 100px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #002b55;
}

.nav-border-top {
  border-top: 1px solid #eee;
}

.btn-outline-primary {
  color: #36669a;
  border-color: #36669a;
}

.icon-disabled{
  color: rgb(164, 164, 164);
}

.icon-active-default{
  color: deepskyblue;
}

.icon-active-alert{
  color: orange;
}

.details-box .row .col label,
.details-box .row .col-12 label{
  font-weight: bold;
}


/*Steps wizard********************/
.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 20px;
  color: #fff;
}
/*********************************/

.justify-left {
  justify-content: flex-start !important;
}
