<!-- Create Request Modal by Ops  -->
<div class="modal fade" role="dialog" id="createRequestModal" #createRequestModal>
  <form class="modal-dialog modal-lg" #requestForm="ngForm" role="document">

    <!-- Modal content-->
    <div class="modal-content" [hidden]="hideModal">
      <div class="modal-header">
        <div class="col-4"><img class="customer-img-size" src="assets/images/lexmark.png"></div>
        <h4 class="col modal-title">Create customer request</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body ">
        <div class="alert alert-danger fade in" [hidden]="error_msg.length==0">
          {{error_msg}}
        </div>
        <div class="container-fluid">

          <!--General info panel-->
          <div class="mb-2"><h4>General</h4></div>
          <div class="border rounded">
            <div class="row mt-3 pr-4 pl-4">
              <div class="col">
                <div class="form-group">
                  <label for="type">Request type</label>
                  <select class="form-control form-control-sm" id="type" name="type" required [(ngModel)]="model.requestTypeId">
                    <option></option>
                    <option *ngFor="let type of lists.requestTypeList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="priority">Priority </label>
                  <select class="form-control form-control-sm" id="priority" name="priority" required [(ngModel)]="model.priority">
                    <option></option>
                    <option value="HI">High</option>
                    <option value="MED">Medium</option>
                    <option value="LOW">Low</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-2 pr-4 pl-4">
              <div class="col ml-auto">
                <div class="form-group">
                  <label for="lcc">LCC</label>
                  <select class="form-control form-control-sm" id="lcc" name="lcc" required [(ngModel)]="model.lccId">
                    <option></option>
                    <option *ngFor="let type of lists.lccList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="customer-site">Customer site</label>
                  <select class="form-control form-control-sm" id="customer-site" name="customer-site" required [(ngModel)]="model.customerSite">
                    <option></option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="selector">Requestor</label>
                  <select class="form-control form-control-sm" id="selector" name="selector" required [(ngModel)]="model.requestorId">
                    <option></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-2 pr-4 pl-4">
              <div class="col">
                <div class="form-group">
                  <label for="assign">Assign to</label>
                  <select class="form-control form-control-sm" id="assign" name="assign" [(ngModel)]="model.assignedTo">
                    <option></option>
                    <option>User 1</option>
                    <option>User 2</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="involved-party">Involved Party</label>
                  <select class="form-control form-control-sm" id="involved-party" name="involved-party" required [(ngModel)]="model.involvedPartyId">
                    <option></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="customer-req-id">Customer Request ID</label>
                  <select class="form-control form-control-sm" id="customer-req-id" name="customer-req-id" [(ngModel)]="model.customerReqId">
                    <option></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-2 pr-4 pl-4">
              <div class="col">
                <div class="form-group">
                  <label for="reasoncode1">Reason code</label>
                  <select class="form-control form-control-sm" id="reasoncode1" name="reasoncode1" required [(ngModel)]="model.reasonCode1">
                    <option></option>
                    <option *ngFor="let type of lists.reasonCodeList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="reasoncode2">2nd Reason Code</label>
                  <select class="form-control form-control-sm" id="reasoncode2" name="reasoncode2" [(ngModel)]="model.reasonCode2">
                    <option></option>
                    <option *ngFor="let type of lists.reasonCodeList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="reasoncode3">3rd Reason Code </label>
                  <select class="form-control form-control-sm" id="reasoncode3" name="reasoncode3" [(ngModel)]="model.reasonCode3">
                    <option></option>
                    <option *ngFor="let type of lists.reasonCodeList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-2 pr-4 pl-4">
              <div class="col">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea rows="3" class="form-control form-control-sm" id="description" name="description" placeholder="Description" required [(ngModel)]="model.description"></textarea>
                </div>
              </div>
            </div>

          </div>

          <!--Handling panel-->
          <div class="mb-2 mt-2"><h4>Handling</h4></div>
          <div class="border rounded mt-2">
            <div class="row mt-2 pr-4 pl-4">

              <div class="col">
                <div class="form-group">
                  <label for="rootcause1">Root cause responsability</label>
                  <select class="form-control form-control-sm" id="rootcause1" name="rootcause1" [(ngModel)]="model.rootCauseResponsability">
                    <option></option>
                    <option *ngFor="let type of lists.reasonCodeList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="reasoncode2">Root cause category</label>
                  <select class="form-control form-control-sm" id="rootcause2" name="rootcause2" [(ngModel)]="model.rootCauseCategory">
                    <option></option>
                    <option *ngFor="let type of lists.reasonCodeList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="reasoncode3">Root cause reason code</label>
                  <select class="form-control form-control-sm" id="rootcause3" name="rootcause3" [(ngModel)]="model.rootCauseReason">
                    <option></option>
                    <option *ngFor="let type of lists.reasonCodeList" value="{{type.value}}">{{type.key}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-2 pr-4 pl-4">
              <div class="col-4">
                <div class="form-group">
                  <label for="pro-active-yes" class="mr-3">Pro-active</label>
                  <div class="btn-group btn-toggle">
                    <button class="btn btn-default btn-sm" id="pro-active-yes">YES</button>
                    <button class="btn btn-primary btn-sm active">NO</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Links and references panel-->
          <div class="mb-2 mt-2"><h4 >Link references</h4></div>
          <div id="req-links-group" class="border rounded mt-2">
            <div class="row p-3">
              <div class="col mt-3 mb-3">
                <span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Link a reference or order
                </span>
              </div>
              <div class="col mt-2 mb-3">
                  <input type="text" class="form-control">
              </div>
              <div class="col mt-2 mb-3">
                <button type="button" class="btn btn-outline-primary btn-block">Search</button>
              </div>
            </div>
          </div>

          <!--Documents panel-->
          <div class="mb-2 mt-2"><h4>Documents</h4></div>
          <div id="req-documents-group" class="border rounded mt-2">
            <div class="row mt-2 p-3">
              <div class="col mt-2 mb-3">
                <span>
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    Drop files to attach, or browse
                </span>
              </div>
              <div class="col">
                <label class="custom-file">
                  <input type="file" id="file2" class="custom-file-input">
                  <span class="custom-file-control"></span>
                </label>
              </div>
            </div>
          </div>

        </div><!-- End container-->
      </div><!--End body-->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="createRequest()" [disabled]="requestForm.invalid">Create request</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

    <div class="alert alert-success" role="alert" [hidden]="!success">
      {{alertMsg}}
    </div>

  </form>
</div>


<!-- Create Request Modal by Customer  -->
<div class="modal fade" role="dialog" id="createRequestModalByCustomer" #createRequestModalByCustomer>
  <form class="modal-dialog modal-lg" #requestForm="ngForm" role="document">

    <!-- Modal content-->
    <div class="modal-content" [hidden]="hideModal">
      <div class="modal-header">
        <div class="col-4"><img class="customer-img-size" src="assets/images/lexmark.png"></div>
        <h4 class="col modal-title">Create customer request</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body ">
        <div class="alert alert-danger fade" [hidden]="error_msg.length==0">
          {{error_msg}}
        </div>
        <div class="container-fluid">

          <!--General info panel-->
          <div class="mb-2"><h4>General</h4></div>
          <div class="border rounded">
            <div class="row mt-3 pr-4 pl-4">
              <div class="col">
                <div class="form-group">
                  <label for="type">Request category</label>
                  <select class="form-control form-control-sm" id="category" name="type" required >
                    <option></option>
                    <option>Question</option>
                    <option>Complaint</option>
                    <option>Spot quote</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-2 pr-4 pl-4">
              <div class="col">
                <div class="form-group">
                  <label for="description">How can we help you?</label>
                  <textarea rows="3" class="form-control form-control-sm" id="description2" name="description" placeholder="Description" required></textarea>
                </div>
              </div>
            </div>

          </div>

          <!--Links and references panel-->
          <div class="mb-2 mt-3"><h4 >Link references</h4></div>
          <div class="border rounded mt-2">
            <div class="row p-3">
              <div class="col mt-3 mb-3">
                <span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Link a reference or order
                </span>
              </div>
              <div class="col mt-2 mb-3">
                <input type="text" class="form-control">
              </div>
              <div class="col mt-2 mb-3">
                <button type="button" class="btn btn-outline-primary btn-block">Search</button>
              </div>
            </div>
          </div>

          <!--Documents panel-->
          <div class="mb-2 mt-3"><h4>Documents</h4></div>
          <div class="border rounded mt-2">
            <div class="row mt-2 p-3">
              <div class="col mt-2 mb-3">
                <span>
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    Drop files to attach, or browse
                </span>
              </div>
              <div class="col">
                <label class="custom-file">
                  <input type="file" id="file3" class="custom-file-input">
                  <span class="custom-file-control"></span>
                </label>
              </div>
            </div>
          </div>

        </div><!-- End container-->
      </div><!--End body-->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="createRequestByCustomer()" [disabled]="requestForm.invalid">Create request</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

    <div class="alert alert-success" role="alert" [hidden]="!success">
      {{alertMsg}}
    </div>

  </form>
</div>


