<request-create-component></request-create-component>
<nav-component></nav-component>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb bg-default mb-0 pt-0 pb-0 pr-3">
    <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Request details</li>
  </ol>
</nav>
<div class="container-fluid pr-4 pl-4">

  <!--Buttons section-->
  <div class="row justify-content-end">
    <button class="btn btn-outline-primary mr-4" data-toggle="modal" data-target="#duplicateModal">Duplicate request</button>
    <button class="btn btn-outline-primary mr-4">Send email</button>
    <button class="btn btn-outline-primary mr-4">Proceed</button>
    <button class="btn btn-outline-primary mr-4">Escalate</button>
    <button class="btn btn-outline-primary mr-4">Cancel request</button>
  </div>

  <!--Progress steps section-->
  <div class="container mt-5">
    <div class="stepwizard">
      <div class="row stepwizard-row justify-content-start">
        <div class="col stepwizard-step">
          <div class="btn btn-circle bg-step-active">1</div>
          <p>Created</p>
        </div>
        <div class="col stepwizard-step">
          <div class="btn btn-circle bg-step-default">2</div>
          <p>Allocate & Send to Involved Party</p>
        </div>
        <div class="col stepwizard-step">
          <div class="btn btn-circle bg-step-default">3</div>
          <p>Receive reply from Involved Party</p>
        </div>
        <div class="col stepwizard-step">
          <div class="btn btn-circle bg-step-default">4</div>
          <p>Send reply to Customer</p>
        </div>
        <div class="col stepwizard-step">
          <div class="btn btn-circle bg-step-default">5</div>
          <p>Closed</p>
        </div>
      </div>
    </div>
  </div>


  <!--General details section-->
  <div class="row">
    <div class="col form-inline">
      <h5 class="mr-3 mt-2">General details</h5>
      <a [routerLink]="['details',model.id]">
        <span><i aria-hidden="true" class="fa fa-pencil mt-2"></i></span>
      </a>
    </div>
  </div>
  <div class="container-fluid border rounded mt-1 p-2 bg-gray details-box">

    <div class="row mt-1 p-3">
      <div class="col">
        <label>Request ID</label>
        <div>{{model.requestCode}}</div>
      </div>
      <div class="col">
        <label>Customer</label>
        <div>{{model.customer}}</div>
      </div>
      <div class="col">
        <label>Request type</label>
        <div>{{model.requestType}}</div>
      </div>
      <div class="col">
        <label>Status</label>
        <div >{{model.status}}</div>
      </div>
      <div class="col">
        <label>Priority</label>
        <div>{{model.priority}}</div>
      </div>
      <div class="col">
        <label>Requestor</label>
        <div>{{model.requestor}}</div>
      </div>
    </div>

    <div class="row mt-3 p-3">
      <div class="col">
        <label>LCC</label>
        <div>{{model.lcc}}</div>
      </div>
      <div class="col">
        <label>Customer site</label>
        <div>{{model.customerSite}}
        </div>
      </div>
      <div class="col">
        <label>Involved Party</label>
        <div>{{model.involvedParty}}
        </div>
      </div>
      <div class="col">
        <label>Escalation email</label>
        <div>{{model.hasEscalationEmail}}</div>
      </div>
      <div class="col">
        <label>Pro-active</label>
        <div>{{model.isProActive}}</div>
      </div>
      <div class="col">
        <label>Customer request ID</label>
        <div >{{model.customerReq}}
        </div>
      </div>
    </div>

    <div class="row mt-3 p-3">
      <div class="col">
        <label>Created date</label>
        <div>{{model.createdDate}}</div>
      </div>
      <div class="col">
        <label>Start date</label>
        <div>{{model.startDate}}</div>
      </div>
      <div class="col">
        <label>Finish date</label>
        <div>{{model.finishDate}}</div>
      </div>
      <div class="col">
        <label>Entry by</label>
        <div>{{model.entryBy}}</div>
      </div>
      <div class="col">
        <label>Assigned to</label>
        <div >
          {{model.assignedTo}}
        </div>
      </div>
      <div class="col">
      </div>
    </div>

    <div class="row mt-3 p-3">
      <div class="col-12">
        <label>Description</label>
        <div>{{model.description}}</div>
      </div>
    </div>

  </div>

  <!--Handling section-->
  <div class="row mt-4">
    <div class="col form-inline">
      <h5 class="mr-3 mt-2">Handling</h5>
      <a [routerLink]="['details',model.id]">
        <span><i aria-hidden="true" class="fa fa-pencil mt-2"></i></span>
      </a>
    </div>
  </div>
  <div class="container-fluid border rounded mt-1 p-2 bg-gray details-box">
    <div class="row mt-1 p-3 justify-content-start">
      <div class="col">
        <label>Reason code</label>
        <div>{{model.reasonCode1}}</div>
      </div>
      <div class="col">
        <label>2nd Reason Code</label>
        <div>{{model.reasonCode2}}</div>
      </div>
      <div class="col">
        <label>3rd Reason Code</label>
        <div>{{model.reasonCode3}}</div>
      </div>
    </div>
    <div class="row mt-1 p-3 justify-content-start">
      <div class="col">
        <label>Root cause responsability</label>
        <div>{{model.rootCauseResponsability}}</div>
      </div>
      <div class="col">
        <label>Root cause category</label>
        <div>{{model.rootCauseCategory}}</div>
      </div>
      <div class="col">
        <label>Root cause reason Code</label>
        <div>{{model.rootCauseReason}}</div>
      </div>
    </div>
  </div>

  <!--Custom fields section-->
  <div class="row mt-4">
    <div class="col form-inline">
      <h5 class="mr-3 mt-2">Custom fields</h5>
        <a [routerLink]="['details',model.id]">
          <span><i aria-hidden="true" class="fa fa-pencil mt-2"></i></span>
        </a>
    </div>
  </div>
  <div class="container-fluid border rounded mt-1 p-2 bg-gray details-box">
    <div class="row mt-1 p-3 justify-content-start">
      <div class="col">
        <label>Date Initiated</label>
        <div>August 14th of 2017</div>
      </div>
      <div class="col">
        <label>Location of incident</label>
        <div>Germany</div>
      </div>
      <div class="col">
        <label>Product</label>
        <div>Random product</div>
      </div>
      <div class="col">
        <label>Product type</label>
        <div>Random product type</div>
      </div>
    </div>
    <div class="row mt-1 p-3 justify-content-start">
      <div class="col">
        <label>Escalation Type</label>
        <div></div>
      </div>
      <div class="col">
        <label>Duration of Excursion in Hours</label>
        <div></div>
      </div>
      <div class="col">
        <label>iCargo ID</label>
        <div></div>
      </div>
      <div class="col">
        <label>Master Notes</label>
        <div>Random notes</div>
      </div>
    </div>
  </div>

  <!--Linked shipments section-->
  <div class="row mt-4">
    <div class="col form-inline">
      <h5 class="mr-3 mt-2">Linked shipments</h5>
      <a [routerLink]="['details',model.id]" data-toggle="modal" data-target="#referencesModal" class="color-green">
        <span><i aria-hidden="true" class="fa fa-plus mt-2"></i></span>
      </a>
    </div>
  </div>
  <div class="container-fluid border rounded mt-1 p-2 bg-gray">
    <table class="table table-hover">
      <thead class="text-center">
      <tr>
        <th scope="col"></th>
        <th scope="col">Shipment Reference</th>
        <th scope="col">Mode of Transport</th>
        <th scope="col">Service Provider</th>
        <th scope="col">Service Provider Code</th>
        <th scope="col">Ship From</th>
        <th scope="col">Ship To</th>
        <th scope="col">Planned date</th>
        <th scope="col">Actual date</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="text-center">
      <tr>
        <td><a href="#"><span><i class="fa fa-external-link" aria-hidden="true"></i></span></a></td>
        <td>20170518-S-00005_12</td>
        <td>TL</td>
        <td>EDIFICIO BOUCHARD PLAZA</td>
        <td>KNEU/GLAXO.KNABUR</td>
        <td>BUENOS AIRES</td>
        <td>RIO DE JANEIRO</td>
        <td>23 May 2017 16:00 -> 30 May 2017 16:00</td>
        <td>23 May 2017 16:00 -> 30 May 2017 16:00</td>
        <td><a href="#"><span><i class="fa fa-trash" aria-hidden="true"></i></span></a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--Linked transport orders section-->
  <div class="row mt-4">
    <div class="col form-inline">
      <h5 class="mr-3 mt-2">Linked transport orders</h5>
      <a [routerLink]="['details',model.id]" data-toggle="modal" data-target="#referencesModal" class="color-green">
        <span><i aria-hidden="true" class="fa fa-plus mt-2"></i></span>
      </a>
    </div>
  </div>
  <div class="container-fluid border rounded mt-1 p-2 bg-gray">
    <table class="table table-hover">
      <thead class="text-center">
      <tr>
        <th scope="col"></th>
        <th scope="col">Order Reference</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">No of Lines</th>
        <th scope="col">Planned date</th>
        <th scope="col">Actual date</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="text-center">
      <tr>
        <td><a href="#"><span><i class="fa fa-external-link" aria-hidden="true"></i></span></a></td>
        <td>TEMPFPA000639456-INKOM</td>
        <td>#</td>
        <td>MUSCAT PHARMACY, OMAN</td>
        <td>1</td>
        <td>23 May 2017 16:00 -> 30 May 2017 16:00</td>
        <td>23 May 2017 16:00 -> 30 May 2017 16:00</td>
        <td><a href="#"><span><i class="fa fa-trash" aria-hidden="true"></i></span></a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--Documents section-->
  <div class="row mt-4">
    <div class="col form-inline">
      <h5 class="mr-3 mt-2">Documents</h5>
      <a [routerLink]="['details',model.id]" data-toggle="modal" data-target="#documentsModal" class="color-green">
        <span><i aria-hidden="true" class="fa fa-plus mt-2"></i></span>
      </a>
    </div>
  </div>
  <div class="container-fluid mt-1 p-2 bg-gray">
    <div class="row m-2">
      <div class="col-2 border border-secondary rounded form-inline mr-3">
        <div class="p-2">
          <span class="mr-3 color-file-word"><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i></span>
        </div>
        <div class="p-2 mr-3">
          <label class="justify-left">Document sample.doc</label>
          <label class="justify-left">650Kb</label>
          <label class="justify-left">Doc type</label>
        </div>
        <div class="ml-1">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="col-2 border border-secondary rounded form-inline mr-3">
        <div class="p-2">
          <span class="mr-3 color-file-pdf"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></span>
        </div>
        <div class="p-2 mr-3">
          <label class="justify-left">Document sample.pdf</label>
          <label class="justify-left">1950Kb</label>
          <label class="justify-left">Doc type</label>
        </div>
        <div class="ml-1">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Activity section-->
  <nav class="nav nav-tabs mt-5" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="true">Comments</a>
    <a class="nav-item nav-link" id="nav-email-tab" data-toggle="tab" href="#nav-email" role="tab" aria-controls="nav-email" aria-selected="false">Email activity</a>
    <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
  </nav>
  <div class="tab-content bg-gray" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
      <div class="pt-3 pl-3">
        <button class="btn btn-outline-primary btn-primary btn-sm" data-toggle="modal" data-target="#commentsModal">Add comment</button>
      </div>
      <div class="pr-md-5 pl-md-5 pb-md-5 pt-4">
        <div class="row">
          <div class="col-0">
            <img src="assets/images/profile.jpg" class="rounded-circle mr-2" height="20px"/>
          </div>
          <div class="col-2">
            <label>Luke SkyWalker</label>
            <br>
            <label>24/Nov/2017 11:25</label>
          </div>
          <br>
          <div class="col">
            It’s not quite ready yet, but we are working hard and it will be ready in approximately 2h
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-0">
            <img src="assets/images/profile.jpg" class="rounded-circle mr-2" height="20px"/>
          </div>
          <div class="col-2">
            <label>Luke SkyWalker</label>
            <br>
            <label>24/Nov/2017 11:25</label>
          </div>
          <br>
          <div class="col">
            It’s not quite ready yet, but we are working hard and it will be ready in approximately 2h
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab">
      <div class="p-5">

      </div>
    </div>
    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
      <div class="p-5">

      </div>
    </div>
  </div>

</div>

<footer-component></footer-component>


<div id="referencesModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Link references</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="border rounded mt-2">
          <div class="p-3">
            <div class="mt-3 mb-3 text-center">
                <span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Link a reference or order
                </span>
            </div>
            <div class="mt-2 mb-3 w-">
              <input type="text" class="form-control" placeholder="Type a reference">
            </div>
            <div class="p-4">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Link references</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="duplicateModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Duplicate request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          <span class="mr-1"><i class="fa fa-exclamation icon-active-alert" aria-hidden="true"></i></span>
          Here you are able to copy all the information associated to request NCR-20171110-1.<br>
          Please select the new request type
        </div>
        <div class="form-group">
          <label for="type">Request type</label>
          <select class="form-control form-control-sm" id="type" name="type" required >
            <option></option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Duplicate</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="documentsModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Link documents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="border rounded mt-2 pb-4">
          <div class="mt-2 p-3">
            <div class="col mt-2 mb-3 text-center">
                <span>
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    Drop files to attach, or browse
                </span>
            </div>
            <div class="col">
              <label class="custom-file w-100">
                <input type="file" id="file3" class="custom-file-input">
                <span class="custom-file-control"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Attach documents</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div id="commentsModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea rows="3" class="form-control form-control-sm" id="description" name="description" placeholder="Description" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add comment</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
