<footer class="footer mt-4">
  <div class="container text-center">
    <a href="https://www.kuehne-nagel.com" target="_blank" class="mr-2">kuehne-nagel.com</a>
    <a href="/fs/pdf/GTC_KN_FreightNet_LCL.pdf" target="_blank" class="mr-2">General Terms &amp; Conditions</a>
    <a href="https://www.kn-portal.com/legal_notice/privacy_policy/" target="_blank" class="mr-2">Privacy</a>
    <a href="http://www.kn-portal.com/legal_notice/#c42852" target="_blank" class="mr-2">Legal Notice</a>
    <span>© 2017 KUEHNE&nbsp;+&nbsp;NAGEL INC All rights reserved</span>
  </div>
</footer>
