<div class="container-fluid">

  <!--Filter section-->
  <div class="container-fluid border rounded mt-4 p-2 bg-white">

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Advanced Filters
    </a>
    <div class="collapse mt-2" id="collapseExample">
      <div class="card card-body">
        <div class="row m-1 ">

          <div class="col">
            <input type="text" class="form-control form-control-sm" placeholder="Request ID">
          </div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Request type
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Status
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Priority
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LCC
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Customer site
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
        <div class="row mt-3 mr-1 ml-1">

          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="basic-addon1">Date type</span>
              <select class="form-control form-control-sm" id="dateType" name="dateType" >
                <option>Creation date</option>
                <option>Start date</option>
                <option>Finish date</option>
                <option>Email date received</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm date datetimepicker">
              <span class="input-group-addon">From</span>
              <input type="text" class="form-control form-control-sm" id="from-date" name="from-date" placeholder="DD/MM/YYYY">
              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm date datetimepicker">
              <span class="input-group-addon">To</span>
              <input type="text" class="form-control form-control-sm" id="to-date" name="to-date" placeholder="DD/MM/YYYY">
              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Requestor
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Involved party
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="valid" class="mr-3">Escalation email</label>
              <div class="btn-group btn-group-sm btn-toggle">
                <button class="btn btn-default btn-sm" id="valid">YES</button>
                <button class="btn btn-primary btn-sm active" id="invalid">NO</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1  mr-1 ml-1">
          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">Reason code</span>
              <select class="form-control form-control-sm" id="reasonCodeSelect" name="reasonCodeSelect" >
                <option>1st cause</option>
                <option>2nd cause</option>
                <option>3rd cause</option>
              </select>
            </div>
          </div>
          <div class="col">
            <input type="text" class="form-control form-control-sm" placeholder="Reason code">
          </div>
          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">Root cause</span>
              <select class="form-control form-control-sm" id="rootCauseSelect" name="rootCauseSelect" >
                <option>Responsability</option>
                <option>Category</option>
                <option>Reason code</option>
              </select>
            </div>
          </div>
          <div class="col">
            <input type="text" class="form-control form-control-sm" placeholder="Root cause">
          </div>
          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">Other filters</span>
              <select class="form-control form-control-sm" id="otherFilters" name="otherFilters" >
                <option>Shipment reference</option>
                <option>Transport order</option>
                <option>Created by</option>
                <option>Assign to</option>
              </select>
            </div>
          </div>
          <div class="col">
            <input type="text" class="form-control form-control-sm">
          </div>

        </div>
        <div class="row mt-2 mr-1 justify-content-end">
          <div class="col-1">
            <button class="btn btn-sm btn-outline-primary btn-block mr-4">Clear<span class="ml-2 fa fa-times fa-lg"></span></button>
          </div>
          <div class="col-1">
            <button class="btn btn-sm btn-outline-primary btn-block mr-3">Search<span class="ml-2 fa fa-search fa-lg"></span></button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--Table request section-->
  <div class="container-fluid mt-4 bg-white border rounded">

    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Request ID</th>
          <th scope="col">Request type</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
          <th scope="col">Customer</th>
          <th scope="col">Customer site</th>
          <th scope="col">LCC</th>
          <th scope="col">Requestor</th>
          <th scope="col">Reason code</th>
          <th scope="col">Creation date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor='let request of model'>
          <td><a [routerLink]="['details',request.id]"><span><i class="fa fa-external-link" aria-hidden="true"></i></span></a></td>
          <td><a href="#"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a></td>
          <td><span class="badge badge-warning" *ngIf="request.isNew">New</span></td>
          <th scope="row">{{request.reqId}}</th>
          <td>{{request.type}}</td>
          <td>{{request.priority}}</td>
          <td>{{request.status}}</td>
          <td>{{request.customer}}</td>
          <td>{{request.customerSite}}</td>
          <td>{{request.lcc}}</td>
          <td>{{request.requestor}}</td>
          <td>{{request.reasonCode}}</td>
          <td>{{request.creationDate}}</td>
          <td>
            <span class="mr-3" data-toggle="tooltip" data-placement="top" title="Linked reference"><i [ngClass]="{'fa fa-link': true, 'icon-active-default': request.hasLinkedReferences, 'icon-disabled': !request.hasLinkedReferences }" aria-hidden="true"></i></span>
            <span class="mr-3" data-toggle="tooltip" data-placement="top" title="Alert"><i [ngClass]="{'fa fa-exclamation-circle':true, 'icon-active-alert': request.hasAlert, 'icon-disabled': !request.hasAlert }" aria-hidden="true"></i></span>
            <span class="mr-3" data-toggle="tooltip" data-placement="top" title="Documents attached"><i [ngClass]="{'fa fa-file-o':true, 'icon-active-default': request.hasDocuments, 'icon-disabled': !request.hasDocuments }" aria-hidden="true"></i></span>
            <span class="mr-3" data-toggle="tooltip" data-placement="top" title="Escalation email"><i [ngClass]="{'fa fa-envelope-o':true, 'icon-active-default': request.hasEscalationEmail, 'icon-disabled': !request.hasEscalationEmail }" aria-hidden="true"></i></span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
