<div class="container-fluid bg-white">
  <div class="pt-3 pb-4">
    <a href="http://www.kuehne-nagel.com"><img class="logo-text-size" src="assets/images/kn_name.svg"></a>
    <div class="float-right">
      <img class="logo-img-size mr-5" src="assets/images/kn_logo.svg">
      <img class="customer-img-size mr-5 mt-3" src="assets/images/lexmark.png">
    </div>
  </div>
</div>

<nav class="navbar sticky-top navbar-expand-lg bg-white nav-border-top">

  <a class="navbar-brand mr-5" href="#">CST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3">
        <a class="nav-link" href="#"><span class="mr-2"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>Dashboard</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="#"><span class="mr-2"><i class="fa fa-calendar" aria-hidden="true"></i></span>Calendar</a>
      </li>
      <li class="nav-item mr-3">
        <button class="btn btn-outline-primary btn-primary" data-toggle="modal" data-target="#createRequestModal">Create request by Ops</button>
      </li>
      <li class="nav-item mr-3">
        <button class="btn btn-outline-primary btn-primary" data-toggle="modal" data-target="#createRequestModalByCustomer">Create request by Customer</button>
      </li>
    </ul>

    <div class="row">
      <div class="btn-group mr-4">
        <button type="button" class="btn btn-light dropdown-toggle pr-3 pl-3 bg-white border-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-1"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Change language</button>
          <button class="dropdown-item" type="button">Set filters</button>
          <button class="dropdown-item" type="button">Other settings</button>
        </div>
      </div>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-light dropdown-toggle pr-3 pl-3 bg-white border-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/profile.jpg" class="rounded-circle mr-2" height="33px"/>
          Luke SkyWalker
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Log out</button>
        </div>
      </div>
    </div>
  </div>

</nav>
